:root {
    --color-dark: ;
    --color-dark-alt: ;
    --color-light: ;
    --color-accent: ;
    --color-gray: ;
    --color-gray-alt: ;
    --header-color: ;
    --title-color: ;
    --text-color: #9b96bc;
    --btn-color: ;
    --link-color: #e8e5e5;
    --background-color: ;
    --accent-color: ;
    --border-color: ;

    --border: ;
    --border-radius: 14px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;

    --shadow: 0 5px 0 var(--color-dark);

    --font-family: 'Roboto', sans-serif;

    --container-width: 1440px;
    --container-padding-x: 20px;

    --section-padding-y: 70px;

    --input-height: 59px;
    --button-height: 68px;

    --transition-duration: 0.2s;

}